.low-usage {
  color: green;
}

.medium-usage {
  color: #643FB5;
}

.high-usage {
  color: red;
}
h1{
  color:white;
  text-align: center;
  border: 2px solid #3738B0;
  background-color:#607D8B;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 50px;
  margin-top: 0;
}
section{
  position:absolute;
  width:780px;
  height:500px;
  left:50%;
  top:50%;
  margin-left:-390px;
  margin-top:-295px;
  border:1px solid black;
  background-color:#F8F5F5;
}
#left{
  margin:10px;
  margin-left:20px;
  float:left;
  border:1px solid white;
  width:150px;
  height: 300px;
}
#right{
  margin:10px;
  float:left;
  width:450px;
  border:1px solid white;
  height: 260px;
}
.button {
    background-color: #6C766C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: 2px;
    cursor: pointer;
    width: 100%;
}
#top{
  font-size: 20px;
  font-color: brown;
  font-style:italic;
  font-weight: bold;
  padding-left: 30px;

}
#bottom{
  padding-top:15px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 20px;
}
span{
  font-style:normal;
  padding-left: 25px;
}
form{
  padding-bottom: 20px;
}
input[type=text] {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
} 
input[type=submit] {
    background-color: #646B64;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 14px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}